.tracker-grid{
	display: grid;
	column-gap: 5px;
	row-gap: 5px;
}
.goals{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 5px;
	row-gap: 5px;
}
.notes-goals{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 5px;
	row-gap: 5px;
}
.study-tracker ,
.tasks-tracker ,
.score-tracker ,
.streak-tracker ,
.water-tracker ,
.steps-tracker ,
.schedule-tracker ,
.productivity-tracker ,
.notes-tracker ,
.upcoming-tracker{
	padding-left: 20px;
	color: #fff;
	border: 0.2px solid dimgray;
	border-radius: 15px;
	width: 220px;
	object-fit: contain;/*
	display: flex;*/
	margin-bottom: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 1.0);
}
.study-tracker ,
.tasks-tracker ,
.score-tracker ,
.streak-tracker ,
.water-tracker ,
.steps-tracker{
	display: flex;
}
.tracker-topic{
	font-size: 16px;
	display: inline-block;
	width: 130px;
}
.text-grid{
	display: block;
	width: 100px;
}
.tracker-image{
	padding-top: 28px;
	display: flex;
	object-fit: contain;
	mix-blend-mode: screen;
}
.study-line-tracker ,
.tasks-line-tracker ,
.score-image-tracker ,
.streak-image ,
.water-image ,
.steps-image {
	width: 120px;
}
.track-input{
	width: 70px;
	padding-bottom: 20px;
}