html ,
body{
	margin: 0;
	padding: 0;
	background-color: #212143;
	/*background-color: #3C0366;*/
	margin-left: 55px;
	margin-top: 15px;
	margin-right: 25px;
	font-family: Roboto;/*
	overflow: hidden;*/
}
img{
	mix-blend-mode: screen;
}
input{
	text-decoration: none;
	appearance: none;
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	display: inline-block;
	width: 30px;
}